{% extends 'base2.html' %}

{% block content %}
    <section class="hero">
        <div class="hero_section">
            <h1>Contigo en todo momento</h1>
            <h1>Electromecanica Parana</h1>
            <p class="company-tagline">Para registrarte completa tus datos</p>
        </div>
        <div class="hero_form">
            <form action="{% url 'registro' %}" method="post">
                <h1>Registro</h1>
                <p>Ingresa tus datos</p>
                {% csrf_token %}
                <br>
                <div class="form-group">
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    {{ form.apellido }}
                </div>
                <div class="form-group">
                    {{ form.tipo_documento }}
                </div>
                <div class="form-group">
                    {{ form.numero_documento }}
                    {{ form.numero_documento.errors }}
                </div>
                <div class="form-group">
                    {{ form.ciudad_id }}
                </div>
                <div class="form-group">
                    {{ form.direccion }}
                </div>
                <div class="form-group">
                    {{ form.celular }}
                </div>
                <div class="form-group">
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <br>
                <button class="btn form__btn" type="submit">Registrarme</button>
            </form>
        </div>
    </section>
{% endblock content %}