{% extends 'base2.html' %}

{% block content %}
    <div class="section__container header__container">
        <div class="header__content">
            <h1>Sobre Nosotros</h1>
            <p>
                Somos una entidad financiera dedicada a impulsar tus sueños y metas financieras.
                Nacimos con la visión de ofrecer soluciones bancarias modernas, accesibles y centradas en el cliente.
                Nuestro enfoque es simple: ponerte a vos, nuestros clientes, en el centro de todo lo que hacemos.
                Estamos comprometidos en brindarte servicios bancarios ágiles y personalizados para que puedas disfrutar
                de una experiencia financiera sin complicaciones. En Banco DACOP, estamos aquí para ayudarte a prosperar
                y crecer.
                Bienvenido a una nueva forma de hacer banca.
            </p>
            <p>
                Te invitamos a unirte a nuestro banco y descubrir un nuevo estándar en la banca. Juntos,
                construyamos un futuro financiero sólido y próspero.
            </p>
            <p>Bienvenido a Banco DACOP. Tu éxito financiero es nuestra prioridad.</p>
        </div>
    </div>

{% endblock content %}