{% extends 'base2.html' %}

{% block content %}
    <div class="section__container header__container">
        <div class="header__content">
            <h1>Contacto</h1>
            <p><strong>Información de Contacto del Banco</strong></p>

            <p><strong>Dirección:</strong><br>
                123 Calle Principal, Ciudad Capital<br>
                Código Postal: 12345<br>
                País: Paraguay
            </p>

            <p><strong>Teléfono de Atención al Cliente:</strong><br>
                +1 (800) 123-4567
            </p>

            <p><strong>Correo Electrónico de Atención al Cliente:</strong><br>
                <a href="mailto:info@bancodacop.com" style="color: aliceblue;">info@bancodacop.com</a>
            </p>

            <p><strong>Horario de Atención al Cliente:</strong><br>
                Lunes a Viernes: 9:00 AM - 5:00 PM<br>
                Sábados: 9:00 AM - 1:00 PM<br>
                Domingos: Cerrado
            </p>
        </div>
    </div>

{% endblock content %}