{% extends 'base2.html' %}

{% block content %}
    <div class="section__container header__container">
        <div class="header__content">
            <h1>Banco DACOP</h1>
            <br>
            <p>El Banco Banco DACOP se compromete a brindar servicios financieros de calidad a nuestros clientes,
                cumpliendo con altos estándares éticos y regulatorios.</p>
            <br>
            <p>1. Privacidad y Confidencialidad:<br>
                - Respetamos la privacidad de nuestros clientes y protegemos la confidencialidad de su información
                financiera de acuerdo con las leyes y regulaciones aplicables.</p>

            <p>2. Prevención de Lavado de Dinero (PLD):<br>
                - Cumplimos con rigurosas políticas y procedimientos de PLD para garantizar la integridad del sistema
                financiero y prevenir actividades ilegales.</p>

            <p>3. Cumplimiento Normativo:<br>
                - Banco DACOP cumple con todas las leyes y regulaciones bancarias, garantizando la transparencia y la
                legalidad en todas nuestras operaciones.</p>

            <p>4. Atención al Cliente:<br>
                - Nuestro compromiso es brindar un servicio al cliente excepcional, con un enfoque en la resolución de
                problemas y la satisfacción del cliente.</p>

            <p>5. Ética y Conducta:<br>
                - Fomentamos una cultura de ética empresarial y conducta profesional entre nuestros empleados y
                directivos.</p>

            <p>6. Responsabilidad Social Corporativa:<br>
                - Contribuimos positivamente a las comunidades en las que operamos, apoyando proyectos y causas que
                promuevan el bienestar social y el desarrollo sostenible.</p>

            <p>7. Seguridad y Ciberseguridad:<br>
                - Implementamos medidas de seguridad sólidas para proteger la información de nuestros clientes y
                prevenir amenazas cibernéticas.</p>

            <p>8. Diversidad e Inclusión:<br>
                - Valoramos y fomentamos la diversidad en nuestra fuerza laboral y promovemos la inclusión en todos los
                niveles de la organización.</p>

            <p>9. Gestión de Riesgos:<br>
                - Banco DACOP tiene políticas sólidas de gestión de riesgos para garantizar la estabilidad y la solidez
                financiera.</p>

            <p>10. Transparencia y Comunicación:<br>
                - Mantenemos una comunicación abierta y transparente con nuestros clientes y partes interesadas,
                proporcionando información relevante y precisa.</p>
        </div>
    </div>
{% endblock content %}