{% extends 'base2.html' %}

{% block content %}
    <div class="section__container header__container">
        <div class="header__content">
            <h1>Nuestros Terminos y Condiciones</h1>
            <p>
                Estos Términos constituyen un acuerdo legal entre usted y Banco DOCAP, regulando su acceso
                y uso de nuestros servicios bancarios. Al utilizar nuestros servicios, usted acepta estos Términos
                en su totalidad. Si no está de acuerdo con estos Términos, le instamos a no utilizar nuestros servicios
                bancarios.
            </p>
            <p>1. ACCESO A LOS SERVICIOS</p>
            <p>1.1 Registro: Para utilizar nuestros servicios bancarios, deberá registrarse en Banco DACOP y
                proporcionar
                información precisa y actualizada. Usted es responsable de mantener la confidencialidad de su
                información de
                inicio de sesión y es el único responsable de todas las actividades realizadas bajo su cuenta.</p>
            <p>1.2 Requisitos de Elegibilidad: Debe cumplir con los requisitos de elegibilidad establecidos por Banco
                DACOP
                para acceder a nuestros servicios.
            </p>
            <p>2. CUENTAS BANCARIAS</p>
            <p>2.1 Apertura de Cuentas: Banco DACOP ofrece una variedad de cuentas bancarias.
                El proceso de apertura de cuenta está sujeto a verificación y aprobación por parte de Banco DACOP.
            </p>
            <p>2.2 Uso de Cuentas: Las cuentas bancarias proporcionadas por Banco DACOP deben utilizarse para fines
                legales.
                No se permite el uso de las cuentas para actividades ilegales o fraudulentas.
            </p>
            <p>3. SERVICIOS BANCARIOS EN LÍNEA</p>
            <p>3.1 Transacciones en Línea: Usted puede realizar transacciones en línea, incluyendo transferencias, pagos
                de facturas
                y consultas de saldo. Banco DACOP se esfuerza por mantener la seguridad de sus transacciones, pero usted
                es responsable
                de proteger su información de inicio de sesión.
            </p>
            <p>3.2 Cargos y Tarifas: Algunas transacciones pueden estar sujetas a cargos y tarifas. Consulte nuestro
                Programa de
                Tarifas para obtener más detalles.
            </p>
            <p>4. RESPONSABILIDAD</p>
            <p>4.1 Pérdida o Robo: Si sospecha que su información de inicio de sesión ha sido perdida o robada,
                debe notificarlo de inmediato a Banco DACOP para evitar transacciones no autorizadas.
            </p>
            <p>
                4.2 Uso No Autorizado: Banco DACOP no será responsable de las pérdidas causadas por el uso no autorizado
                de su cuenta,
                a menos que haya notificado a Banco DACOP de la pérdida o robo en conformidad con el punto 4.1.
            </p>
            <p>5. MODIFICACIONES DE LOS TÉRMINOS</p>
            <p>
                Banco DACOP se reserva el derecho de modificar estos Términos en cualquier momento. Las modificaciones
                se harán efectivas
                al ser publicadas en nuestro sitio web. Le recomendamos que revise estos Términos periódicamente.
            </p>
            <p>6. TERMINACIÓN</p>
            <p>Banco DACOP se reserva el derecho de terminar su acceso a nuestros servicios en cualquier momento,
                por cualquier motivo, con o sin previo aviso.
            </p>
            <p>7. LEY APLICABLE</p>
            <p> Términos se rigen por las leyes vigentes en Paraguay y cualquier disputa se someterá a la jurisdicción
                de los tribunales de
                Paraguay.
            </p>
            <p>Al utilizar nuestros servicios bancarios, usted acepta cumplir con estos Términos y Condiciones del
                Servicio Bancario. Si tiene
                alguna pregunta o inquietud, no dude en ponerse en contacto con Banco DACOP.
            </p>
        </div>
    </div>
{% endblock content %}
