{% extends 'base2.html' %}

{% block content %}
    <div class="section__container header__container">
        <div class="header__content">
            <h1>Contigo en todo momento</h1>
            <h1>Tu Banco a toda hora</h1>
            <p>
                Eu voluptate pariatur nostrud velit laborum excepteur fugiat aute. Officia reprehenderit dolore ipsum
                elit incididunt eu minim nostrud eiusmod deserunt. Cupidatat reprehenderit incididunt eu duis voluptate
                sit.
                Dolore minim voluptate sit aliquip incididunt qui ex ipsum officia.
            </p>
            <p>
                Lorem ipsum dolor sit amet adipisicing elit. Velit animi maiores doloribus nulla aliquam,
                voluptatum vero eius! Voluptatum dolor, doloribus a illum dignissimos cupiditate, ad quia corrupti quae
                molestias iure?
            </p>
        </div>
    </div>
{% endblock content %}